{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'hitesh_suggest3.css' %}">
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>A.I. Attentive LIVE DEMO</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="Left_banner">
        <strong><p style="color:white;font-family:Arial;font-size:37px" >&nbsp A.I. Attentive LIVE DEMO</p></strong>
      </div>
      <div class="Right_banner">
        <img src="{% static 'media/dxc_logo.png' %}"width="482" height="128" style="float:right" />
      </div>
      <div class="Left">
        <div class="LT">
          <br>
          <br>
          <img src="{% static 'media/left_triangle.png' %}" width="30" height="35" / >
        </div>
        <div class="AI_DEMO">
          <strong><p style="color:white;font-family:Arial;font-size:37px" >&nbsp Live Camera Feed</p></strong>
        </div>
        <div class="Left_content">
          <h4>Video Feed</h4>
        </div>
      </div>
      <div class="Right">
        <div class="RT">
          <br>
          <br>
          <img src="{% static 'media/right_triangle.png' %}" width="30" height="35"/ >
        </div>
        <div class="DXC_LOGO">
          <strong><p style="color:black;font-family:Arial;font-size:37px" >&nbsp A.I. Data</p></strong>
        </div>
        <div class="Right_content">
          <h1>kibana</h1>
        </div>
      </div>
    </div>
  </body>
</html>
